@import url(https://db.onlinewebfonts.com/c/c71022c068c4097911637b08c81f8a3c?family=MEllan+PRC+SemiBold);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "MEllan PRC SemiBold", Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}
